body{
    font: 15px/1.5 arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: white
}

header {
    padding: 20px ;
    height: 60px;
    border-bottom: 4px solid rgb(223, 223, 223);
}

header a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.container{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
}

.button1{
    height: 60px;
    width: 180px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 12px;
    background-color: rgb(17, 175, 17);
    float: right;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header li{
    padding: 0 20px;
    list-style-type: none;
}

                                    /*BODY*/
.intro{
    justify-content: center;
    text-align: center;
}

.intro-heading{
    font-size: 60px;
}

.intro-para{
    font-size: x-large;
}

.button2{
    height: 60px;
    width: 180px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 12px;
    background-color: rgb(17, 175, 17);
}

.signup-btn{
    height: 60px;
    width: 180px;
    font-size: 15px;
    background-color: white;
    border:2px solid rgb(17, 175, 17) ;
    border-radius: 12px;
    color: rgb(17, 175, 17);
    margin-left: 20px;
}

.intro-image{
    margin-top: 50px;
    width: 90%;
    height: auto;
}

.sponsor{
    margin: 30px;
}

        /* OR */

/* .sponsor{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-template-rows: 100px 100px;
    column-gap: 15px;
    row-gap: 30px;
    margin-left: 150px;
} */

.section1{
    background-color: black;
}
.section-text{
    margin: 50px;
    padding-left: 70px;
    padding-right: 100px;
    padding-bottom: 70px;
    color: white;
}

.why{
    font-size: 40px;
    padding-top: 40px;
}

#why{
    font-size: 20px;
}

.sub{
    display: flex;
    justify-content: space-between;
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub2{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

.sub3{
    margin-left: 40px;
}

.in-text{
    padding: 15px 15px;
}

.img-report{
    width: 100%;
    height: auto;
}

footer{
    justify-content: center;
    text-align: center;

}

.button3{
    height: 60px;
    width: 180px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 12px;
    background-color: rgb(17, 175, 17);
    margin-top: 50px;
    margin-bottom: 50px;
}